 * {
     margin: 0;
     padding: 0; 
     font-family: 'roboto', sans-serif;
     font-weight: 100;
 }

  body {
      background-color: #0b192f;
  }

  header {
      background-color: #162b4d;
      margin: 0 25px 15px 15px;
      padding: 23px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  header > p {
      margin-left: 20px;
      font-size: 25px;
  }

  p > span {
      color: palevioletred;
      font-weight: lighter;
  }

  header > nav > a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
  }

  header > nav > a:hover {
    text-decoration: none;
    color: red;
    margin-right: 40px;
  }

  .class1 >article {
      display: flex;
      align-items: center;
      margin-right: 18px;
      margin-left: 15px;
  }

  .class1 >article:nth-child(2n) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

  article > img {
      height: 300px;
      width: 430px;
  }

  .text {
      width: 300px;
  }

  .text p{
    padding: 40px;
    color:rgba(0, 0, 0, 0.5);
    width: 280px;
  }

  .text h2 {
    padding: 40px;
    color:rgba(0, 0, 0, 0.5);
  }

  .text h2 {
    padding: 40px 0 0 40px;
  }

  .bckgrnd1 {
      background-color: #F3D250;
      height: 300px;
      width: 430px;
  }

  .bckgrnd2 {
    background-color: #8D8741;
    height: 300px;
    width: 430px;
}

.bckgrnd3 {
    background-color: #659DBD;
    height: 300px;
    width: 430px;;
}

.bckgrnd4 {
    background-color: #DAAD86;
    height: 300px;
    width: 430px;
}

  .backimg {
      background-image: url(../img/post5.jpg);
      height: 400px;
      width: 860px;
      margin-left: 15px;
  }

  .backimg > h2 {
      padding-top: 250px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      color:white;
  }
  .backimg > p {
    padding-left: 30px;
    padding-right: 30px;
    color:white;
}

  .main {
      display: flex;
  }

  aside img {
      height: 150px;
      width: 345px;
  }

  aside article {
      background-color: #FFF;
      margin-right: 25px;
      margin-bottom: 20px;
  }

  aside h3 {
      font-size: 25px;
      padding:20px;
  }
  aside p {
    padding:0 0 0 20px;
}

  button {
      border: 2px solid black;
      background-color: white;
      color:black;
      padding: 5px;
      text-transform: uppercase;
      margin: 25px;
  }

  button:hover {
    background-color: black;
    color:white;
  }

  footer {
      background-color: #162b4d;
      display: flex;
      margin: 25px 25px 0 15px;
      justify-content: space-between;
      padding: 30px;
  }

  footer > p:first-child {
      color:rgba(253, 253, 253, 0.3);
      width: 250px;
  }

  footer > p:last-child{
    color:rgba(253, 253, 253, 0.3);
    width: 150px;
}
