  * {
     margin: 0;
     padding: 0; 
     font-family: 'roboto', sans-serif;
     font-weight: 100;
  }

  body {
      background-color: #0b192f;
  }

  header {
      background-color: #162b4d;
      margin: 0 25px 15px 15px;
      padding: 23px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  header > p {
      margin-left: 20px;
      font-size: 25px;
  }

  p > span {
      color: palevioletred;
      font-weight: lighter;
  }

  header > nav > a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
  }

  header > nav > a:hover {
    text-decoration: none;
    background-color: rgba(253, 253, 253, 0.3);
  }
  /*
div {
      display: inline-block;
}
  div a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
    height: 30px;
    width: 30px;
  }

  div a:hover {
    text-decoration: none;
    background-color: rgba(253, 253, 253, 0.3);
    height: 30px;
    width: 30px;
  }
  */

  .class1 >article {
      display: flex;
      align-items:center;
      margin-right: 18px;
      margin-left: 15px;
  }

  .class1 >article:nth-child(2n) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  article img {
      height: 300px;
      width: 430px;
      max-width: 900px;
      max-height: 1200px;
      opacity: 1.0;
  }

  article img:hover {
    height: 300px;
    width: 430px;
    opacity: 0.2;
    cursor: pointer;
  }

  .text {
      width: 300px;
      line-height: 1.7;
  }
/*
  .text:hover {
    background-color: rgb(243, 210, 80);
    opacity: 0.9;
}
*/
  .text > p{
    color:rgba(0, 0, 0, 0.5);
    width: 280px;
  }

  .text h2 {
      margin-bottom: 10px;
    color:rgba(0, 0, 0, 0.5);
  }

  .odd {
    text-align: left;
    margin: 30px 0 0 30px;
  }

  .pair {
    text-align: right;
    margin-top: 30px;
  }

  .bckgrnd2 > h2 {
      margin-right: 30px;
  }

  .bckgrnd2 > p {
    margin-left: 120px;
  }

  .bckgrnd4 > h2 {
    margin-right: 30px;
  }

  .bckgrnd4 > p {
    margin-left: 120px;
  }

  .bckgrnd1 {
      background-color: rgb(243, 210, 80);
      height: 300px;
      width: 430px;
  }

  .bckgrnd1:hover {
    background-color: rgba(243, 210, 80, 0.9);
  }

  .bckgrnd2 {
    background-color: rgb(141, 135, 65);
    height: 300px;
    width: 430px;
  }

  .bckgrnd2:hover {
    background-color: rgba(141, 135, 65, 0.9);
  }

  .bckgrnd3 {
    background-color: rgb(101, 157, 189);
    height: 300px;
    width: 430px;;
  }

  .bckgrnd3:hover {
    background-color: rgba(101, 157, 189, 0.9);
  }

  .bckgrnd4 {
    background-color: rgb(218, 173, 134);
    height: 300px;
    width: 430px;
  }

  .bckgrnd4:hover {
    background-color: rgba(218, 173, 134, 0.9);
  }

  .backimg {
      background-image: url(../img/post5.jpg);
      height: 400px;
      width: 860px;
      margin-left: 15px;
  }

  .backimg > h2 {
      padding-top: 250px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      color:white;
  }

  .backimg > p {
    padding-left: 30px;
    padding-right: 30px;
    color:white;
    line-height: 2.2;
  }

  .main {
      display: flex;
  }

  aside img {
      height: 152px;
      width: 345px;
      max-width: 900px;
      max-height: 1200px;
  }

  aside article {
      background-color: #FFF;
      margin-right: 25px;
      margin-bottom: 20px;
  }

  aside h3 {
      font-size: 25px;
      padding:20px;
  }

  aside p {
    padding:0 0 0 20px;
    line-height: 1.5;
  }

  button {
      border:2px solid;
      border-color:black;
      background-color: white;
      color:black;
      padding: 5px;
      text-transform: uppercase;
      margin: 25px;
  }

  button:hover {
    background-color: white;
    color:black;
    border-bottom: 2px solid black;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    cursor: pointer;
  }

  footer {
      background-color: #162b4d;
      display: flex;
      margin: 25px 25px 0 15px;
      justify-content: space-between;
      padding: 30px;
  }

  footer > p:first-child {
      color:rgba(253, 253, 253, 0.3);
      width: 250px;
  }

  footer > p:last-child{
    color:rgba(253, 253, 253, 0.3);
    width: 150px;
  }

  @media only screen and (max-width:425px) {
    header {
        background-color: #162b4d;
        width: 100%;
        min-width: 200px;
        margin: 0;
        border-right: 30px solid #162b4d;
    }

    .class1 > article{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    aside > section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    aside img {
        margin-right: 26px;
    }

    aside article {
        margin-right: 35px;
    }

    .backimg {
        background-image: url(../img/post5.jpg);
        height: 200px;
        width: 432px;
        min-width: 300;
        margin-left: 30px;
    }

    .backimg > h2 {
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        color:white;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    aside img {
        height: 150px;
        width: 432px;
        margin-left: 22px;
    }
  
    aside article {
        background-color: #FFF;
        margin-left: 30px;
        width: 432px;
    }

    footer {
        background-color: #162b4d;
        width: 100%;
        min-width: 200px;
        margin: 0;
        border-right: 30px solid #162b4d;
    }
  }

  @media only screen and (max-width:780px) {
    header {
        background-color: #162b4d;
        width: 100%;
        min-width: 200px;
        margin: 0;
        border-right: 30px solid #162b4d;
    }

    .class1 > article{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    aside article {
        background-color: #FFF;
        width: 345px;
    }

  }
